env
.env
data/
*.db
.venv/
.pytest_cache/


__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

semantic_cache.pkl


tts_cache/
stt_cache/
cache_metadata.json

.DS_Store

*.mp3
*.wav
*.pcm
*.ogg
*.flac
*.m4a
*.m4b
*.m4p
*.m4v
*.m4b
*.m4p